
<div class="legal">
  <div class="legal-inner">
    <p>你可以在 <a href="{{ site.githuburl }}">Github</a>查阅并编辑树莓派官方英文文档。在创建Pull Request前请阅读我们 <a href="{{ site.githuburl }}blob/{{ site.githubbranch }}/CONTRIBUTING.md">使用和贡献须知.</a></p>
    <p>Raspberry Pi 文档版权归 &copy; 2012-{{ site.time | date: '%Y' }} Raspberry Pi Ltd 所有，授权基于 <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA) 许可.</p>
    <p>部分内容来自<a href="http://elinux.org/">eLinux wiki</a>, 许可基于 <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported</a> 授权.</p>
    <p>HDMI、HDMI 高清多媒体接口、HDMI 商业外观和 HDMI 徽标是 HDMI Licensing Administrator, Inc 的商标或注册商标。</p>
    <p id="copyright">文档使用与树莓派相同授权发布 <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> (CC BY-SA).</p>
    <p id="copyright"><strong><a href="https://beian.miit.gov.cn/">鄂ICP备2024079718号-1</a></strong></p>
  </div>
</div>